
.container {
  max-width: 1250px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-device-width: 480px) {
  .container{
  max-width: 340px;}
}